{% extends 'uber/base.html' %} 
{% load bootstrap3 %} 
{% load static from staticfiles %}
{% block content %} 

    <section class="sec1">
    
    
    </section>
    <section class="content">
        <p style="color: #888">  Travis Kalanick, former CEO of Uber, in 2013 Uber was founded in 2009 as UberCab by Garrett Camp, the co-founder of StumbleUpon,
        and Travis Kalanick, who had sold his Red Swoosh startup for $19 million in 2007. On New Year's Eve, Camp spent $800
        hiring a private driver with friends and had been mulling over ways to decrease the cost of black car services ever since.
        He realized that sharing the cost with people could make it affordable, and his idea morphed into Uber. Kalanick joined Camp
        and gives him "full credit for the idea" of Uber. "Garrett is the guy who invented that shit," Kalanick said at an early
        Uber event in San Francisco. The first prototype was built by Camp and his friends, Oscar Salazar and Conrad Whelan,
        with Kalanick being brought on as a "mega advisor" to the company. Following a beta launch in May 2010, Uber's services
        and mobile app officially launched in San Francisco in 2011. Originally, the application only allowed users to hail
        a black luxury car and the price was 1.5 times that of a taxi. In February 2010,</p>
        
        <p style="color: #888">
            UberX In July 2012, the company introduced UberX, a service option which allows people to drive for Uber using non-luxury
            vehicles, subject to a background check, registration requirement, and car standards. At first, rates were similar to
            those of taxis and were 35% cheaper than UberBLACK. By early 2013, the service was operating in 35 cities. Rates were
            quickly lowered, which caused some dissatisfaction among UberBLACK and taxi drivers, whose earnings decreased as a result
            of the increased competition at lower rates.
        </p>

        

        <div class="aboutcent">

        </div>


        <p style="color: #888">
             Ryan Graves became the first Uber employee, getting the job by responding to a tweet from Kalanick announcing the job opening,
            and receiving 5–10% of the company. Graves started out as general manager and shortly after the launch was named as CEO.
            After ten months Kalanick succeeded Graves as CEO in December 2010. Graves stepped down to become the company's COO. In 2011,
            the company changed its name from UberCab to Uber after complaints from San Francisco taxi operators. During the initial
            development of the Uber app, the company created a think tank consisting of a nuclear physicist, a computational neuroscientist,
            and a machinery expert who worked on predicting demand for private hire car drivers and where demand is highest. On March
            26, 2018 Uber declared to withdraw from Southeast Asia to end a war of attrition with a fierce local rival and has agreed
            to sell its Southeast Asian operations to Grab. Under the agreement, Grab will acquire all of Uber's operations in a region
            of 620 million people, including food delivery service UberEats.</p>
        </p>
    </section>


{% endblock%}