{%extends "registration/base.html"%} 
{% load bootstrap3 %} 
{% load static %}
{% block content %}

<div class="tofill">
    <div class="loginpg">
        <div class="row">
            <!-- Empty div -->
            <div class="col-md-4"></div>
            
            <div class="col-md-4">
                {% if form.errors %}
                <p> Password or Username is incorrect </p>
                {% endif %}
                <div class="loginbox">
        
                    <div class="panel-heading">
                        
                    <img src="../../static/css/images/loginlogo.svg" style="height: 70px;width: 70px;margin-top: -15%;" alt="">
                        <h3 class="text-center">Sign In</h3>
                    </div>
                    <div class="panel-body">
        
                        <form action="/accounts/login/" method="post">
                            {% csrf_token %} {% bootstrap_form form%}
        
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-sm" value="Login">
                            </div>
                            <p><a href="/accounts/password/change">forgot password?</a></p>
        
                            <input type="hidden" name="next" value="{{next}}">
        
                        </form>
        
                    </div>
        
                </div>
        
            </div>
            <!-- empty div -->
            <div class="col-md-4">
            </div>
        </div>

    </div>
</div>

{% endblock %}